.collections {
  margin: 2rem 0 0 0;
  @media (min-width: 768px) {
    margin: 3rem 0 0 0;
  }

  .collections-grid {
    background: white;
    width: 100%;
    position: relative;
    display: block;

    &::before {
      content: none;
    }

    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 1px;
        background-color: #000;
        transform: translateX(-0.5px);
        z-index: 1;
      }
    }

    .product-item {
      width: 100%;
      display: block;
      text-decoration: none;
      color: inherit;

      @media (min-width: 768px) {
        width: 50%;
      }

      .h4-test {
        height: 8.7rem;

        h4 {
          position: relative;
          display: inline-block;
          font-size: var(--nc-navigation-name-desktop-size);
          line-height: var(--nc-navigation-name-desktop-line);
          font-weight: var(--nc-navigation-name-desktop-weight);
          margin: 0;
          align-items: flex-start;
          padding-top: 1.5rem;

          @media (min-width: 768px) {
            font-size: var(--nc-navigation-name-desktop-size);
            // height: 4rem;

            &::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: 0em;
              width: 100%;
              height: 1px;
              background-color: currentColor;

              transform: scaleX(0);
              transform-origin: left;
              transition: transform 180ms ease;
            }

            &:hover::after,
            &:focus-visible::after {
              transform: scaleX(1);
            }
          }
        }
      }

      @media (min-width: 768px) {
        &:nth-of-type(odd) h4 {
          padding-left: 0;
        }

        &:nth-of-type(even) h4 {
          margin-left: 2rem;
        }
      }

      .product-media {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
      }
    }
  }
}
