.collections {
  margin: 1rem 0 0 0;

  @media (min-width: 768px) {
    margin: 3rem 0 0 0;
  }

  .collections-grid {
    background: white;
    width: 100%;
    position: relative;
    display: block;

    /* Mobile: keine Linie */
    &::before {
      content: none;
    }

    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;

      /* Desktop: Linie anzeigen */
      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 1px;
        background-color: #000;
        transform: translateX(-0.5px);
        z-index: 1;
      }
    }

    .product-item {
      width: 100%;
      display: block;
      text-decoration: none;
      color: inherit;
      // border-bottom: 1px solid #000;

      h4 {
        margin: 0;
        padding: 1.5rem 0 2rem 0rem;
        font-size: var(--nc-navigation-name-desktop-size);
        line-height: var(--nc-navigation-name-desktop-line);
        font-weight: var(--nc-navigation-name-desktop-weight);

        @media (min-width: 768px) {
          padding: 1.5rem 0 1.5rem 2rem;
        }
      }

      @media (min-width: 768px) {
        width: 50%;
        // border-bottom: 1px solid #000;
        // border-top: 1px solid #000;
      }

      .product-media {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
      }
    }
  }
}
