.collections {
  margin: 2rem 0 0 0;

  @media (min-width: 768px) {
    margin: 3rem 0 0 0;
  }

  .collections-grid {
    background: white;
    width: 100%;
    position: relative;
    display: block;

    &::before {
      content: none;
    }

    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 1px;
        background-color: #000;
        transform: translateX(-0.5px);
        z-index: 1;
      }
    }

    .product-item {
      width: 100%;
      display: block;
      text-decoration: none;
      color: inherit;

      @media (min-width: 768px) {
        width: 50%;
      }

      .product-media {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
      }

      .product-caption {
        height: 8.7rem;
      }

      .product-title {
        position: relative;
        display: inline-block;
        margin: 0;
        padding-top: 1.5rem;

        font-size: var(--nc-navigation-name-desktop-size);
        line-height: var(--nc-navigation-name-desktop-line);
        font-weight: var(--nc-navigation-name-desktop-weight);
      }

      @media (min-width: 768px) {
        // underline animation (triggered by the link hover/focus, not only h4 hover)
        .product-title::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0em;
          width: 100%;
          height: 1px;
          background-color: currentColor;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 180ms ease;
        }

        &:hover .product-title::after,
        &:focus-visible .product-title::after {
          transform: scaleX(1);
        }

        // column spacing
        &:nth-of-type(odd) .product-title {
          padding-left: 0;
        }

        &:nth-of-type(even) .product-title {
          margin-left: 2rem;
        }
      }
    }
  }
}
