form {
  max-width: 100%;
}

input {
  border: 0.1rem solid #000;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
  padding: 0.5rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

legend {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
