hr {
  border-bottom: none;
  border-top: 0.1rem solid #000;
  margin: 0;
}

code {
  background: #ddd;
  border-radius: 0.4rem;
  font-family: monospace;
  padding: 0.25rem;
}

a {
  color: inherit;
  text-decoration: none;
}

// a:hover,
// p:hover,
// h3:hover {
//   text-decoration: underline;
//   text-underline-offset: 0.2em;
//   cursor: pointer;
//   text-decoration-thickness: 2px;
// }

a {
  position: relative;
  text-decoration: none;
}


.link:hover {
  font-weight: 600;
  cursor: pointer;
}

pre {
  white-space: pre-wrap;
}

li {
  // margin-bottom: 0.5rem;
}

dl {
  margin: 0.5rem 0;
}

/* Regular */
@font-face {
  font-family: 'GTF Good Sans';
  src: url('/fonts/GTFGoodSansTRIAL-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GTF Good Sans';
  src: url('/fonts/GTFGoodSansTRIAL-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Light */
@font-face {
  font-family: 'GTF Good Sans';
  src: url('/fonts/GTFGoodSansTRIAL-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GTF Good Sans';
  src: url('/fonts/GTFGoodSansTRIAL-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Thin */
@font-face {
  font-family: 'GTF Good Sans';
  src: url('/fonts/GTFGoodSansTRIAL-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GTF Good Sans';
  src: url('/fonts/GTFGoodSansTRIAL-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: 'GTF Good Sans';
  src: url('/fonts/GTFGoodSansTRIAL-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GTF Good Sans';
  src: url('/fonts/GTFGoodSansTRIAL-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'GTF Good Sans';
  src: url('/fonts/GTFGoodSansTRIAL-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GTF Good Sans';
  src: url('/fonts/GTFGoodSansTRIAL-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Black */
@font-face {
  font-family: 'GTF Good Sans';
  src: url('/fonts/GTFGoodSansTRIAL-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GTF Good Sans';
  src: url('/fonts/GTFGoodSansTRIAL-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
