@use '../../styles/utils/_mixins' as *;

.footer {
  background: var(--sf-white);
  margin-top: auto;
  text-transform: uppercase;
  border-top: 0.1rem solid var(--color-dark);
  padding: 1.6rem 2rem;
}

.footer-menu {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.footer-menu a {
  min-width: fit-content;
}
