.teaser-duo-homepage {
  position: relative;

  &__image {
    img:nth-of-type(2) {
      display: none;
    }

    @media (min-width: 768px) {
      img:nth-of-type(2) {
        display: block;
      }
    }

    @media (min-width: 768px) {
      position: absolute;
      left: 0;
      width: 100%;
      height: 78rem;
      display: flex;
      z-index: 1;
    }

    img {
      display: block;
      object-fit: cover;
      height: calc(100vh - 6.6rem);
      width: auto;

      @media (min-width: 768px) {
        width: 50%;
        height: 100%;
        aspect-ratio: 780/780;
        width: 100%;
        height: auto;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p {
      width: 100%;
      margin: 2rem 0 2rem 0;
      font-size: 1.7rem;
      line-height: 2.6rem;
      font-weight: 300;

      @media (min-width: 768px) {
        width: 80%;
        margin: 85rem 0 10rem 0;
        font-size: var(--nc-fliesstext-desktop-size);
        line-height: var(--nc-fliesstext-desktop-line);
        font-weight: var(--nc-fliesstext-desktop-weight);
      }
    }
  }
}
