.teaser-duo-homepage {
  position: relative;

  &__image {
    position: absolute;
    left: 0;
    width: 100%;
    height: 78rem;
    display: flex;
    z-index: 1;

    img {
      display: block;
      width: 50%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      width: 80%;
      margin: 85rem 0 10rem 0;
      font-size: var(--nc-fliesstext-desktop-size);
      line-height: var(--nc-fliesstext-desktop-line);
      font-weight: var(--nc-fliesstext-desktop-weight);
    }
  }
}
