.teaser-duo-homepage {
  position: relative;

  &__image {
    position: absolute;
    left: 0;
    width: 100%;
    height: 78rem;
    display: flex;
    z-index: 1;

    img {
      display: block;
      width: 50%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'GTF Good Sans';
    font-weight: 300;

    p {
      width: 80%;
      margin: 85rem 0 10rem 0;
    }
  }
}
