.teaser-duo-homepage {
  position: relative;

  &__image {
    // position: absolute;
    left: 0;
    display: flex;
    z-index: 1;

    img {
      display: block;
      width: 50%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 1/1;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'GTF Good Sans';
    font-weight: 300;

    p {
      font-size: 2.2rem;
      line-height: 3.4rem;
      width: 80%;
      margin: 10rem 0;
    }
  }
}
