.highlights {
  margin: 2rem 0 0 0;
  @media (min-width: 768px) {
    margin: 3rem 0 0 0;
  }
}

.highlights__grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;

  @media (min-width: 768px) {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 0.1rem;
      background-color: black;
      transform: translateX(-0.5px);
      z-index: 1;
    }
  }

  .highlights__grid > *:nth-child(odd) figcaption {
    padding-left: 0;
  }

  .highlights__item {
    width: 100%;
    @media (min-width: 768px) {
      width: 50%;
    }
  }
  .card {
    overflow: hidden;
  }

  .card__media {
    position: relative;
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    aspect-ratio: 778/519;
  }

  .card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .card__overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    text-align: center;
    color: #fff;
    opacity: 1;
    transition:
      opacity 0.25s ease,
      transform 0.25s ease;
    pointer-events: none;

    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.35)
    );
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);

    @media (min-width: 768px) {
      position: absolute;
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px;
      text-align: center;
      color: #fff;
      opacity: 0;
      transition:
        opacity 0.25s ease,
        transform 0.25s ease;
      pointer-events: none;

      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0.35)
      );
      backdrop-filter: blur(2.5px);
      -webkit-backdrop-filter: blur(2.5px);
    }
  }

  .card:hover .card__overlay {
    @media (min-width: 768px) {
      opacity: 1;
      transform: translateY(0);
      font-size: 1.5rem;
      line-height: 3.4rem;
    }
  }

  .card__caption {
    font-size: 12px;
    line-height: var(--nc-navigation-name-desktop-line);
    font-weight: var(--nc-navigation-name-desktop-weight);
    height: 3rem;
    margin: 0;
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;

    @media (min-width: 768px) {
      font-size: var(--nc-navigation-name-desktop-size);
      padding-left: 2rem;
      // height: 4rem;
    }
  }
}
