.vertical-divider {
  position: fixed;
  top: calc(var(--header-h) + var(--collections-offset));
  bottom: 0;
  left: 50%;
  width: 0.1rem;
  background-color: black;
  transform: translateX(-50%);
  z-index: 0;
}
