.teaser-duo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .teaser-duo__images {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    > div:nth-child(2) {
      // border-left: 1px solid black;
    }
  }

  .teaser-duo__image {
    width: 100%;
  }

  .teaser-duo__image--single {
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .teaser-duo__content {
    font-size: var(--nc-fliesstext-mobil-size);
    line-height: var(--nc-fliesstext-mobil-line);
    font-weight: var(--nc-fliesstext-mobil-weight);
    overflow-wrap: break-word;
    word-break: break-word;

    @media (min-width: 768px) {
      padding: 2rem 1.6rem 2.6rem;
    }
  }

  .hover-wrap {
    position: relative;
    display: block;
    overflow: hidden;
  }

  .base-img,
  .hover-img {
    display: block;
    width: 100%;
    height: auto;
  }

  .hover-img {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 220ms ease-in-out;
    pointer-events: none;
    object-fit: cover;
  }

  .hover-wrap:hover .hover-img,
  .hover-wrap:focus-within .hover-img {
    opacity: 1;
  }

  @media (prefers-reduced-motion: reduce) {
    .hover-img {
      transition: none;
    }
  }
}

@media (min-width: 768px) {
  .teaser-duo {
    gap: 0;
  }

  .teaser-duo .teaser-duo__images {
    flex-direction: row;
    align-items: stretch;
  }

  .teaser-duo .teaser-duo__image {
    width: 50%;
  }

  .teaser-duo .teaser-duo__image--single {
    width: 100%;
  }

  /* Wrapper muss die Höhe übernehmen */
  .teaser-duo .hover-wrap {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
  }

  /* Images füllen den Container */
  .teaser-duo .base-img,
  .teaser-duo .hover-img {
    // width: 100%;
    // height: 100%;
    object-fit: cover;
  }

  /* diese Regel bitte entfernen oder überschreiben, sonst bleibt es bei "auto" */
  .teaser-duo img {
    max-height: none;
    height: 100%;
  }

  .teaser-duo .teaser-duo__content {
    background: var(--sf-purple);
    padding: 9.1rem 13.6rem;
    font-size: var(--nc-fliesstext-desktop-size);
    line-height: var(--nc-fliesstext-desktop-line);
    font-weight: var(--nc-fliesstext-desktop-weight);
    z-index: 9;
  }
}

@media (min-width: 768px) {
  .teaser-duo .hover-wrap {
    position: relative;
    width: 100%;
    // aspect-ratio: 774 / 516;
    overflow: hidden;
  }

  .teaser-duo .base-img,
  .teaser-duo .hover-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  /* diese globale Regel darf auf Desktop NICHT greifen */
  .teaser-duo img {
    height: 100%;
    max-height: none;
  }
}
