.teaser-duo {
  background: white;

  &__image-container {
    width: 100%;
    display: flex;
    justify-content: row;
  }

  &__image {
    width: 50%;
    height: 91.7rem;
    object-fit: cover;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  p {
    padding: 5rem 10rem;
    font-family: GTF Good Sans TRIAL;
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 3.4rem;
    width: 60%;
  }
}
