.teaser-duo {
  position: relative;
  margin-inline: -5rem;
  width: calc(100% + 10rem);

  &__images {
    display: flex;
    width: 100%;
    z-index: 1;

    .teaser-duo__image {
      height: 100%;
      width: 50%;

      // Vererbt object-fit an Kinder-Bilder
      > * {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__content {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-family: GTF Good Sans TRIAL;
      font-weight: 300;
      font-size: 2.2rem;
      line-height: 3.4rem;
      width: 80%;
    }
  }
}
