:root {
  --aside-width: 40rem;
  --cart-aside-summary-height-with-discount: 30rem;
  --cart-aside-summary-height: 25rem;
  --grid-item-width: 35.5rem;
  --header-height: 60.4rem;
  --color-dark: #000;
  --sf-white: #fff;
  --text-default: #000000;
  --sf-primary: #9098ff;
  --sf-secondary: #ffb657;
  --sf-tertiary: #fb5f5f;
}
