.pdp {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;

  @media (min-width: 768px) {
    margin: 3rem 0;
  }

  h1 {
    margin-top: 0;
  }

  .product-options-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .product-options-item,
  .product-options-item:disabled {
    padding: 0.25rem 0.5rem;
    background-color: transparent;
  }

  .product-main {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    aspect-ratio: 1560 / 780;
    align-items: stretch;

    &__media {
      display: flex;
      width: 50%;
      aspect-ratio: 780 / 940;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__info {
      width: 50%;
      aspect-ratio: 780 / 940;
      height: 100%;
      display: flex;
      flex-direction: column;
      /* falls nicht schon vorhanden: */
      min-height: 0; /* wichtig für korrektes Shrinken */
    }
    .media-gallery {
      flex: 1 1 auto;
      width: 100%;
    }
  }

  .pdp__teaser-duo {
    margin: 3rem 0 0 0;

    img {
      aspect-ratio: 781/520;
    }
  }

  &__cta-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid black;
    font-size: var(--nc-fliesstext-desktop-size);
    line-height: var(--nc-fliesstext-desktop-line);
    font-weight: var(--nc-fliesstext-desktop-weight);
    flex: 0 0 50px; /* feste Höhe im Flex-Context */
    min-height: 50px;
    /* falls du schon padding/border nutzt, evtl. height statt flex-basis: */
    /* height: 50px; */

    .pdp__question {
      flex: 1 1 0;
      min-width: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .cfg-cta {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: black;
      color: white;
      width: 447px;
      height: 100%;

      .cta-button-wrap button {
        all: unset;
        cursor: pointer;
        border: 1px solid currentColor;
        font-weight: 600;
      }

      .cta-button-wrap button:disabled {
        opacity: 0.45;
        cursor: not-allowed;
      }

      .cta-price {
        font-weight: 600;
        text-align: right;
      }

      form > button {
        all: unset;
        cursor: pointer;
        background: #000;
        color: #fff;
        font-weight: 600;
      }

      form > button:disabled {
        opacity: 0.45;
        cursor: not-allowed;
      }
    }
  }

  .square-variant .teaser-duo__content {
    @media (max-width: 767px) {
      padding: 3rem;
      width: calc(100% + 3rem);
      margin-left: -1.5rem;
    }
  }
}

// !! GLOBAL
.product-price-on-sale {
  display: flex;
}

.product-main .product-form {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0; /* damit das mittlere Panel schrumpfen darf */
  // border: 5px solid red;
}

.product-price-on-sale {
  opacity: 0.5;
}
