.pdp {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
  h1 {
    margin-top: 0;
  }

  .product-options-grid {
    display: flex;
    flex-wrap: wrap;
    // grid-gap: 0.75rem;
  }

  .product-options-item,
  .product-options-item:disabled {
    padding: 0.25rem 0.5rem;
    background-color: transparent;
  }

  .product-main {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    // height: 750px;
    // width: 100%;
    // aspect-ratio: 1562 / 940;
    // max-height: 740px;
    max-height: 940px;
    height: 100%;

    &__media {
      width: 50%;
      aspect-ratio: 780 / 940;
      border: 5px solid red;
    }

    &__info {
      width: 50%;
      aspect-ratio: 780 / 940;
      height: 100%;
    }
  }

  .pdp__teaser-duo {
    margin: 3rem 0 0 0;
    img {
      aspect-ratio: 781/520;
    }
  }

  &__add-to-cart-button {
    height: 7%;
    background: black;
    color: white;

    .cfg-cta {
      display: flex;
      align-items: center;
      gap: 1rem;
      // background: var(--cta-bg);
      // color: var(--cta-text);
      // background: #f4f4f4;
      // color: #111;

      .is-active {
        // background: #000;
        // color: #fff;
      }

      .is-active .cta-button-wrap button {
        background: #fff;
        color: #000;
      }

      .cta-button-wrap button {
        all: unset;
        cursor: pointer;
        border: 1px solid currentColor;
        padding: 0.65rem 1rem;
        font-weight: 600;
      }

      .cta-button-wrap button:disabled {
        opacity: 0.45;
        cursor: not-allowed;
      }

      .cta-price {
        font-weight: 600;
        margin-right: auto;
      }

      form > button {
        all: unset;
        cursor: pointer;
        background: #000;
        color: #fff;
        padding: 0.65rem 1rem;
        font-weight: 600;
      }

      form > button:disabled {
        opacity: 0.45;
        cursor: not-allowed;
      }
    }
  }
}

// !! GLOBAL
.product-price-on-sale {
  display: flex;
  // grid-gap: 0.5rem;
}

.product-main .product-form {
  height: 100%;
}

.product-price-on-sale s {
  opacity: 0.5;
}
