.pdp {
  display: flex;
  flex-direction: column;

  // &__teaser-duo {
  //   margin: 5rem 0;
  // }

  h1 {
    margin-top: 0;
  }

  .product-options-grid {
    display: flex;
    flex-wrap: wrap;
    // grid-gap: 0.75rem;
  }

  .product-options-item,
  .product-options-item:disabled {
    padding: 0.25rem 0.5rem;
    background-color: transparent;
  }

  .teaser-duo__image {
    aspect-ratio: 780/519;
  }
  .product-main {
    align-items: flex-start;

    display: flex;
    flex-direction: row;
    height: 750px;
    width: 100%;
    // max-height: 740px;
    // border-bottom: 10px solid pink;

    &__media {
      width: 50%;
      height: 740px;
    }

    &__info {
      width: 50%;
      height: 100%;

      .product-form {
        // border: 5px solid green;
        height: 100%;

        .configurator {
          // border: 5px solid orange;
          height: 100%;
          // overflow: scroll;

          .cfg-panel {
            // border: 5px solid blue;
            height: 100%;
          }
        }
      }
    }
  }
}

// !! GLOBAL
.product-price-on-sale {
  display: flex;
  // grid-gap: 0.5rem;
}

.product-main .product-form {
  height: auto;
}

.product-price-on-sale s {
  opacity: 0.5;
}
