.pdp {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
  h1 {
    margin-top: 0;
  }

  .product-options-grid {
    display: flex;
    flex-wrap: wrap;
    // grid-gap: 0.75rem;
  }

  .product-options-item,
  .product-options-item:disabled {
    padding: 0.25rem 0.5rem;
    background-color: transparent;
  }

  .product-main {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    // height: 750px;
    // width: 100%;
    // aspect-ratio: 1562 / 940;
    // max-height: 740px;
    border-bottom: 10px solid pink;
    max-height: 940px;
    height: 100%;

    &__media {
      width: 50%;
      aspect-ratio: 780 / 940;
      border: 5px solid orange;
    }

    &__info {
      width: 50%;
      height: 100%;
      border: 2px solid blue;

      .product-form {
        // border: 5px solid green;

        .configurator {
          // border: 5px solid orange;
          // height: 100%;
          // overflow: scroll;

          .cfg-panel {
            // border: 5px solid blue;
            height: auto;
            border-bottom: 10px solid red;
          }
        }
      }
    }
  }

  .pdp__teaser-duo {
    margin: 3rem 0 0 0;
    img {
      aspect-ratio: 781/520;
    }
  }
}

// !! GLOBAL
.product-price-on-sale {
  display: flex;
  // grid-gap: 0.5rem;
}

.product-main .product-form {
  height: auto;
}

.product-price-on-sale s {
  opacity: 0.5;
}
