.bespoke {
  margin: 2rem 0 2rem 0;

  @media (min-width: 768px) {
    margin: 3rem 0 8.7rem 0;
    position: relative; /* <- wichtig */

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0; /* geht durch alles innerhalb .bespoke */
      width: 1px;
      background: #000;
      transform: translateX(-0.5px);
      z-index: 5;
      pointer-events: none;
    }
  }
  .teaser-duo .teaser-duo__content {
    background: white;
  }
  .teaser-duo__images {
    display: flex;
    align-items: stretch; // wichtig
  }
  .teaser-duo__image {
    flex: 1;
    position: relative;
  }
  .teaser-duo__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .hs-leftTop {
    @media (max-width: 767px) {
      display: none;
    }

    @media (min-width: 768px) {
      border-bottom: 1px solid black;
    }
  }

  @media (min-width: 768px) {
    .hs-grid {
      margin-bottom: 8.6rem;
    }
  }
}
