.bespoke {
  position: relative;

  .teaser-duo .teaser-duo__content {
    background: white;
  }

  &__middle {
    margin: 0 0 3rem 0;
  }

  .teaser-duo {
    &__content {
      border: 2px solid red;
    }
  }
}
