.bespoke {
  position: relative;

  .teaser-duo {
    .teaser-duo__images {
      width: 100%;
      display: flex;

      .teaser-duo__image {
        width: 50%;

        div img {
          aspect-ratio: 780/780;
        }
      }
    }
  }
}
