.bespoke {
  position: relative;
  margin: 1.5rem 0 0 0;

  @media (min-width: 768px) {
    margin: 3rem 0 0 0;
  }

  .teaser-duo .teaser-duo__content {
    background: white;
  }

  &__middle {
    margin: 0 0 3rem 0;
  }
}
