.bespoke {
  margin: 2rem 0 2rem 0;

  @media (min-width: 768px) {
    margin: 3rem 0;
  }
  .teaser-duo .teaser-duo__content {
    background: white;
  }
  .teaser-duo__images {
    display: flex;
    align-items: stretch; // wichtig
  }
  .teaser-duo__image {
    flex: 1;
    position: relative;
  }
  .teaser-duo__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .hs-leftTop {
    @media (max-width: 767px) {
      display: none;
    }
  }
}
