/* ===== Meta Accordion – Figma Look ===== */
.meta-accordion {
  position: relative;
  display: flex;
  flex-direction: column;

  .acc-item {
    display: flex;
    flex-direction: column;

    summary::-webkit-details-marker {
      display: none;
    }

    summary {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      user-select: none;
      // padding: 0.75rem 0;
    }

    .acc-title {
      font-size: var(--nc-head-mobil-size);
      line-height: var(--nc-head-mobil-line);
      font-weight: var(--nc-head-mobil-weight);
      color: var(--text-muted, #5a5a5a);
    }

    .acc-plus {
      position: relative;
      width: 12px;
      height: 12px;
      flex: 0 0 12px;
      padding-right: 100px;
    }

    .acc-plus::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    &[open] .acc-plus::after {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    .acc-panel {
      min-height: unset;
      @media (min-width: 768px) {
        display: flex;
        align-items: flex-start;
        min-height: 44px;
        padding: 0rem;
      }
    }

    .acc-panel p {
      color: #222;
      font-size: 1.2rem;
      line-height: 1.9rem;
      font-weight: 400;
      margin: 0;
    }

    .acc-images {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-right: 0;
      align-items: flex-start;

      .meta-accordion__images-grid {
        display: grid; // statt flex
        gap: 2rem;

        @media (min-width: 768px) {
          padding: 2rem 0;
          padding-inline: 2rem;
        }
      }

      .meta-accordion__images-grid {
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }

      .meta-accordion__images-figure {
        width: 100%; // die alte width: 50% raus/überschreiben
        height: auto;
      }
    }
  }

  &__file-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__file-list li {
    margin: 0;
    padding: 0;
  }
}
