.hero-split {
  display: flex;
  align-items: stretch; // beide Spalten gleich hoch
  margin-top: 300px;

  &__left,
  &__right {
    width: 50%; // beide 50%
    flex-direction: column;
  }

  /* Bildcontainer */
  &__left-img,
  &__right-img {
    position: relative;
    overflow: hidden;
    flex: 1 1 auto;
  }

  &__right-img {
    aspect-ratio: 780/941;
  } // höheres rechtes Bild

  &__left-img {
    aspect-ratio: 781/520;
  } // höheres rechtes Bild

  &__left-img > img,
  &__right-img > img {
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  /* Quote-Block */
  &__quote {
    position: relative;
    background: var(--sf-purple, #8f8cf6);
    display: flex;
    align-items: center;
    overflow: hidden;
    aspect-ratio: 781/422;
  }

  &__quote-inner {
    padding: 4rem 5rem;
    font-weight: 300;
  }

  /* Deko */
  &__quote::before {
    content: '';
    position: absolute;
    left: 1.2rem;
    top: 2rem;
    bottom: 2rem;
    width: 1.2rem;
    background: #111;
    border-radius: 0.4rem;
  }
  &__quote::after {
    content: '';
    position: absolute;
    right: -9rem;
    bottom: -9rem;
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
    border: 1.6rem solid #111;
  }
}
